<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="/css/bootstrap-reboot.min.css">
    <title>Document</title>
</head>

<body>

    <h1>Agrega una Ubicación Nueva</h1>


    <form action="@{/Ubicacion/save}" object="${ObjUbicacion}" method="post">
        <label for="nombre">Nombre de la Ubicación</label>
        <input type="text" th:field="${nombre}" required name="nombre" id="nombre">
        <br>
        <label for="posicionX">Posicion en X</label>
        <input type="text" th:field="${posX}" name="posX" id="posX" required>
        <br>
        <label for="posicionY">Posición en Y</label>
        <input type="text" field="${posY}" id="posY" name="posY" required>
        <br>
        <button type="submit"></button>
    </form>

    <script th:src="/js/bootstrap.min.js"></script>
    <script th:src="/js/jquery.js"></script>
</body>

</html>